@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
font-family: "Montserrat", sans-serif;
font-family: "Fraunces", serif;
*/

body {
  margin: 0;

  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}